body {
    display: flex;
    flex-direction: column;
    /* padding-left: 20px;
    padding-right: 20px; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.header {
    text-align: center;
    font-size: 40px;
    background-color: #17283b;
    color: whitesmoke;
}

img {
    width: 500px;
}

.box1 {
    display: flex;
    justify-content: center;
    background-color:bisque;
    align-items: center;
    font-size: 30px;
    line-height:50px;
}

li {
    list-style-type: none;
}

.dates {
    padding-right: 100px;
}

.box2 {
    background-color: #17283b;
    color: whitesmoke;
    line-height: 130%;
    padding: 0 10px 0 10px;
    font-size: x-large;
}

.footer {
    padding: 0 10px 0 0px;
    display: flex;
    align-items: center;
}

.footer .text {
    margin-left: auto;
    padding: 0 0 0 100px;
}

.footer img {
    width: 60px;
    margin-right: auto;
}